@charset "UTF-8";
/* blog.leny.me
 *
 * SASS/BOURBON/CSS Document - /styles/styles.sass
 * Screen & responsive styles
 * coded by leny@flatLand!
 * started at 28/04/13
 */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: "SourceSans";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/SourceSansPro-Regular-webfont.eot");
  src: url("fonts/SourceSansPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-Regular-webfont.woff") format("woff"), url("fonts/SourceSansPro-Regular-webfont.ttf") format("truetype"), url("fonts/SourceSansPro-Regular-webfont.svg#SourceSans") format("svg"); }

@font-face {
  font-family: "SourceSans";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/SourceSansPro-Bold-webfont.eot");
  src: url("fonts/SourceSansPro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-Bold-webfont.woff") format("woff"), url("fonts/SourceSansPro-Bold-webfont.ttf") format("truetype"), url("fonts/SourceSansPro-Bold-webfont.svg#SourceSans") format("svg"); }

@font-face {
  font-family: "SourceSans";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/SourceSansPro-It-webfont.eot");
  src: url("fonts/SourceSansPro-It-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-It-webfont.woff") format("woff"), url("fonts/SourceSansPro-It-webfont.ttf") format("truetype"), url("fonts/SourceSansPro-It-webfont.svg#SourceSans") format("svg"); }

@font-face {
  font-family: "SourceSans";
  font-weight: bold;
  font-style: italic;
  src: url("fonts/SourceSansPro-BoldIt-webfont.eot");
  src: url("fonts/SourceSansPro-BoldIt-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceSansPro-BoldIt-webfont.woff") format("woff"), url("fonts/SourceSansPro-BoldIt-webfont.ttf") format("truetype"), url("fonts/SourceSansPro-BoldIt-webfont.svg#SourceSans") format("svg"); }

@font-face {
  font-family: "SourceCodePro";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/SourceCodePro-Regular-webfont.eot");
  src: url("fonts/SourceCodePro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceCodePro-Regular-webfont.woff") format("woff"), url("fonts/SourceCodePro-Regular-webfont.ttf") format("truetype"), url("fonts/SourceCodePro-Regular-webfont.svg#SourceCodePro") format("svg"); }

@font-face {
  font-family: "SourceCodePro";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/SourceCodePro-Bold-webfont.eot");
  src: url("fonts/SourceCodePro-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/SourceCodePro-Bold-webfont.woff") format("woff"), url("fonts/SourceCodePro-Bold-webfont.ttf") format("truetype"), url("fonts/SourceCodePro-Bold-webfont.svg#SourceCodePro") format("svg"); }

@font-face {
  font-family: "Amaranth";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Amaranth-Regular-webfont.eot");
  src: url("fonts/Amaranth-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Amaranth-Regular-webfont.woff") format("woff"), url("fonts/Amaranth-Regular-webfont.ttf") format("truetype"), url("fonts/Amaranth-Regular-webfont.svg#Amaranth") format("svg"); }

@font-face {
  font-family: "Amaranth";
  font-weight: bold;
  font-style: normal;
  src: url("fonts/Amaranth-Bold-webfont.eot");
  src: url("fonts/Amaranth-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Amaranth-Bold-webfont.woff") format("woff"), url("fonts/Amaranth-Bold-webfont.ttf") format("truetype"), url("fonts/Amaranth-Bold-webfont.svg#Amaranth") format("svg"); }

@font-face {
  font-family: "Amaranth";
  font-weight: normal;
  font-style: italic;
  src: url("fonts/Amaranth-Italic-webfont.eot");
  src: url("fonts/Amaranth-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Amaranth-Italic-webfont.woff") format("woff"), url("fonts/Amaranth-Italic-webfont.ttf") format("truetype"), url("fonts/Amaranth-Italic-webfont.svg#Amaranth") format("svg"); }

@font-face {
  font-family: "Amaranth";
  font-weight: bold;
  font-style: italic;
  src: url("fonts/Amaranth-BoldItalic-webfont.eot");
  src: url("fonts/Amaranth-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Amaranth-BoldItalic-webfont.woff") format("woff"), url("fonts/Amaranth-BoldItalic-webfont.ttf") format("truetype"), url("fonts/Amaranth-BoldItalic-webfont.svg#Amaranth") format("svg"); }

@font-face {
  font-family: "WebHostingHub";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/webhostinghub-glyphs-webfont.eot");
  src: url("fonts/webhostinghub-glyphs-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/webhostinghub-glyphs-webfont.woff") format("woff"), url("fonts/webhostinghub-glyphs-webfont.ttf") format("truetype"), url("fonts/webhostinghub-glyphs-webfont.svg#WebHostingHub") format("svg"); }

.me:before {
  content: ""; }

.gmap:before {
  content: ""; }

.grr:before {
  content: ""; }

.teach:before {
  content: ""; }

.tech:before {
  content: ""; }

.cli:before {
  content: ""; }

.mobile:before {
  content: ""; }

.coffee:before {
  content: ""; }

.conventions:before {
  content: ""; }

.work:before {
  content: ""; }

.app:before {
  content: ""; }

.desktop:before {
  content: ""; }

.node:before {
  content: ""; }

.date:before {
  content: ""; }

.css:before {
  content: ""; }

.illustrator:before {
  content: ""; }

.jquery:before {
  content: ""; }

.games:before {
  content: ""; }

.github:before {
  content: ""; }

.veille:before {
  content: ""; }

.diy:before {
  content: ""; }

.highlight {
  background-color: white;
  background-image: url("img/old_mathematics.png");
  padding: 1rem;
  font: normal 1.2rem SourceCodePro, Monaco, "Courier New", Courrier, monospace;
  margin: 0 auto 2rem;
  border: 0.1rem solid silver;
  border-radius: 0.5rem;
  overflow-x: scroll; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .highlight {
      background-image: url("img/old_mathematics@2x.png");
      background-size: 200px 200px; } }
  .highlight .c {
    color: #999988;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k, .highlight .keyword {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm, .highlight .comment {
    color: #999988;
    font-style: italic; }
  .highlight .cp {
    color: #999999;
    font-weight: bold; }
  .highlight .c1 {
    color: #999988;
    font-style: italic; }
  .highlight .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: black;
    background-color: #ffdddd; }
    .highlight .gd .x {
      color: black;
      background-color: #ffaaaa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #aa0000; }
  .highlight .gh {
    color: #999999; }
  .highlight .gi {
    color: black;
    background-color: #ddffdd; }
    .highlight .gi .x {
      color: black;
      background-color: #aaffaa; }
  .highlight .go {
    color: #888888; }
  .highlight .gp {
    color: #555555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaaaaa; }
  .highlight .gt {
    color: #aa0000; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #445588;
    font-weight: bold; }
  .highlight .m, .highlight .number {
    color: #009999; }
  .highlight .s {
    color: #dd1144; }
  .highlight .na {
    color: teal; }
  .highlight .nb {
    color: #0086b3; }
  .highlight .nc {
    color: #445588;
    font-weight: bold; }
  .highlight .no {
    color: teal; }
  .highlight .ni {
    color: purple; }
  .highlight .ne {
    color: #990000;
    font-weight: bold; }
  .highlight .nf {
    color: #990000;
    font-weight: bold; }
  .highlight .nn {
    color: #555555; }
  .highlight .nt {
    color: navy; }
  .highlight .nv {
    color: teal; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbbbbb; }
  .highlight .mf {
    color: #009999; }
  .highlight .mh {
    color: #009999; }
  .highlight .mi {
    color: #009999; }
  .highlight .mo {
    color: #009999; }
  .highlight .sb {
    color: #dd1144; }
  .highlight .sc {
    color: #dd1144; }
  .highlight .sd {
    color: #dd1144; }
  .highlight .s2, .highlight .string {
    color: #dd1144; }
  .highlight .se {
    color: #dd1144; }
  .highlight .sh {
    color: #dd1144; }
  .highlight .si {
    color: #dd1144; }
  .highlight .sx {
    color: #dd1144; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #dd1144; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999999; }
  .highlight .vc {
    color: teal; }
  .highlight .vg {
    color: teal; }
  .highlight .vi {
    color: teal; }
  .highlight .il {
    color: #009999; }

* {
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  outline: 0;
  text-rendering: optimizeLegibility; }

html {
  background-color: black;
  background-image: url("img/dark_wood.png");
  font: normal 62.5%/1.5 SourceSans, Verdana, Helvetica, Arial, sans-serif;
  color: black; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    html {
      background-image: url("img/dark_wood@2x.png");
      background-size: 512px 512px; } }

body {
  padding: 0.1rem 0 0; }

#wrapper {
  margin: 0 auto; }
  @media screen and (min-width: 40rem) {
    #wrapper {
      width: 60rem; } }
  @media screen and (min-width: 50rem) {
    #wrapper {
      width: 70rem; } }
  #wrapper > header {
    padding: 2rem 0; }
    @media screen and (min-width: 30rem) {
      #wrapper > header {
        padding: 2rem 0 3rem; } }
    #wrapper > header h1 {
      font: bold 5rem/1 Amaranth, SourceSans, Verdana, Helvetica, Arial, sans-serif;
      color: white;
      text-align: center; }
      #wrapper > header h1 a {
        text-decoration: none;
        color: white; }
        #wrapper > header h1 a:hover {
          color: #a33446; }
  #wrapper > footer {
    margin: 2rem auto;
    padding: 0 1rem; }
    @media screen and (min-width: 30rem) {
      #wrapper > footer {
        padding: 0 2rem; } }
    #wrapper > footer p {
      font: normal 1.4rem SourceSans, Verdana, Helvetica, Arial, sans-serif;
      color: #aaaaaa;
      margin: 0 auto 0.75rem; }
      #wrapper > footer p a {
        text-decoration: none;
        color: #a33446; }
        #wrapper > footer p a:hover {
          text-decoration: underline; }
      #wrapper > footer p #copyleft {
        font: normal 1.4rem WebHostingHub;
        margin: 0 0.5rem 0 0;
        vertical-align: -0.25rem; }

#toplinks {
  margin: 0 auto;
  padding: 0.5rem 1rem; }
  @media screen and (min-width: 30rem) {
    #toplinks {
      padding: 1rem 2rem 0; } }
  #toplinks a {
    font: normal 1.2rem SourceSans, Verdana, Helvetica, Arial, sans-serif;
    color: #aaaaaa;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1rem 0 0; }
    #toplinks a:hover {
      text-decoration: underline; }

nav {
  margin: 0 auto; }
  nav ul li {
    margin: 0 1rem 2rem;
    background-color: white;
    background-image: url("img/lightpaperfibers.png"); }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      nav ul li {
        background-image: url("img/lightpaperfibers@2x.png");
        background-size: 500px 300px; } }
    @media screen and (min-width: 30rem) {
      nav ul li {
        margin: 0 2rem 2rem; } }
    nav ul li a {
      display: block;
      padding: 0.75rem 0.75rem 0.5rem;
      font: bold 1.75rem/1 Amaranth, SourceSans, Verdana, Helvetica, Arial, sans-serif;
      color: black;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      -webkit-text-overflow: ellipsis;
      -moz-text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis; }
      nav ul li a:before {
        content: "";
        font: normal 1.75rem/1 WebHostingHub;
        margin: 0 0.25rem 0 0;
        vertical-align: -0.33rem; }
      nav ul li a:hover:before {
        content: ""; }
      @media screen and (min-width: 30rem) {
        nav ul li a {
          font: bold 2.5rem/1 Amaranth, SourceSans, Verdana, Helvetica, Arial, sans-serif; }
          nav ul li a:before {
            font: normal 2.5rem/1 WebHostingHub;
            margin: 0 0.5rem 0 0;
            vertical-align: -0.45rem; } }

#pagination {
  margin: 0 auto 3rem;
  padding: 0 1rem;
  *zoom: 1; }
  #pagination:before, #pagination:after {
    content: " ";
    display: table; }
  #pagination:after {
    clear: both; }
  @media screen and (min-width: 30rem) {
    #pagination {
      padding: 0 2rem; } }
  #pagination a, #pagination span {
    display: block;
    width: 50%;
    float: left; }
  #pagination a {
    font: normal 1.2rem SourceSans, Verdana, Helvetica, Arial, sans-serif;
    color: #aaaaaa;
    text-decoration: none;
    text-transform: uppercase; }
    #pagination a.previous {
      text-align: left; }
      #pagination a.previous:before {
        content: "";
        font: normal 1rem WebHostingHub;
        vertical-align: -0.2rem;
        margin-right: 0.5rem; }
    #pagination a.next {
      text-align: right; }
      #pagination a.next:after {
        content: "";
        margin-left: 0.5rem;
        font: normal 1rem WebHostingHub;
        vertical-align: -0.2rem; }
    #pagination a:hover {
      text-decoration: none;
      color: #a33446; }

article {
  margin: 0 1rem 2rem;
  background-color: white;
  background-image: url("img/lightpaperfibers.png");
  padding: 2rem 2rem 2rem; }
  @media screen and (min-width: 30rem) {
    article {
      margin: 0 2rem 2rem; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    article {
      background-image: url("img/lightpaperfibers@2x.png");
      background-size: 500px 300px; } }
  article header {
    position: relative;
    margin: 0 auto 2rem; }
    article header h1 {
      font: bold 4rem/1.25 Amaranth, SourceSans, Verdana, Helvetica, Arial, sans-serif; }
    article header:before {
      display: block;
      content: "";
      margin: 0 auto 2rem;
      font: normal 5rem/1 WebHostingHub;
      vertical-align: middle;
      text-align: center;
      color: black; }
    @media screen and (min-width: 30rem) {
      article header {
        padding: 0 0 0 6rem; }
        article header h1 {
          font: bold 3rem/1 Amaranth, SourceSans, Verdana, Helvetica, Arial, sans-serif; }
        article header:before {
          position: absolute;
          top: 0;
          left: 0; } }
    @media screen and (min-width: 50rem) {
      article header h1 {
        font: bold 4rem/1 Amaranth, SourceSans, Verdana, Helvetica, Arial, sans-serif; } }
  article div.content {
    *zoom: 1; }
    article div.content:before, article div.content:after {
      content: " ";
      display: table; }
    article div.content:after {
      clear: both; }
    article div.content h2 {
      font: bold 2rem SourceSans, Verdana, Helvetica, Arial, sans-serif;
      margin: 0 auto 1rem;
      color: brown; }
    article div.content h3 {
      font: bold 1.8rem SourceSans, Verdana, Helvetica, Arial, sans-serif;
      margin: 0 auto 1rem 2rem;
      color: brown; }
    article div.content h4 {
      font: bold 1.6rem SourceSans, Verdana, Helvetica, Arial, sans-serif;
      margin: 0 auto 1rem 4rem;
      color: brown; }
    article div.content p, article div.content li {
      font: normal 1.6rem/1.5 SourceSans, Verdana, Helvetica, Arial, sans-serif;
      margin: 0 auto 1.5rem; }
      article div.content p code, article div.content li code {
        padding: 0 0.25rem 0;
        background: rgba(165, 42, 42, 0.2);
        border: 0.1rem solid rgba(165, 42, 42, 0.3);
        border-radius: 0.3rem;
        font: normal 1.5rem/1 SourceCodePro, Monaco, "Courier New", Courrier, monospace;
        color: #7c2020; }
    article div.content pre {
      margin: 0 0.25rem 1.5rem 0;
      padding: 0.05rem 0.5rem 0;
      background: rgba(165, 42, 42, 0.2);
      border: 0.1rem solid rgba(165, 42, 42, 0.3);
      border-radius: 0.3rem; }
      article div.content pre code {
        font: normal 1.5rem/1.5 SourceCodePro, Monaco, "Courier New", Courrier, monospace;
        color: #7c2020; }
    article div.content .highlight pre {
      margin-bottom: 0;
      background: transparent;
      border: 0;
      font: normal 1.5rem/1.5 SourceCodePro, Monaco, "Courier New", Courrier, monospace; }
    article div.content ol {
      list-style: inside decimal;
      margin: 0 auto 0.5rem; }
      article div.content ol li {
        margin: 0 auto 0.5rem 1rem; }
    article div.content ul {
      list-style: inside disc;
      margin: 0 auto 0.5rem; }
      article div.content ul li {
        margin: 0 auto 0.5rem 1rem; }
    article div.content strong {
      font-weight: bold; }
    article div.content em {
      font-style: italic; }
    article div.content del {
      text-decoration: line-through; }
    article div.content a {
      color: #a33446;
      text-decoration: none; }
      article div.content a:hover {
        text-decoration: underline; }
    article div.content img {
      display: block;
      float: left;
      max-width: 100%;
      margin: 0 1rem 0.5rem 0; }
    article div.content blockquote {
      position: relative;
      margin: 0 0 2rem 0;
      padding: 0 0 0 3.5rem; }
      article div.content blockquote:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        font: normal 2.5rem WebHostingHub;
        color: #666666; }
      article div.content blockquote p, article div.content blockquote li {
        font: italic 1.6rem/1.35 SourceSans, Verdana, Helvetica, Arial, sans-serif;
        margin: 0 auto 1rem;
        color: #666666; }
    article div.content hr {
      margin: 0.5rem auto 1rem;
      background: brown;
      height: 0.1rem;
      border: 0; }
  article footer span, article footer time {
    color: gray;
    font: normal 1.2rem SourceSans, Verdana, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    margin: 0 2rem 0 0; }
    article footer span:before, article footer time:before {
      content: "";
      font: normal 1rem WebHostingHub;
      margin: 0 0.5rem 0 0;
      vertical-align: middle; }
  article footer span:before {
    content: ""; }
  article footer time:before {
    content: ""; }

div.comments {
  margin: 0 1rem 2rem;
  background-color: white;
  background-image: url("img/lightpaperfibers.png");
  padding: 2rem 2rem 1rem; }
  @media screen and (min-width: 30rem) {
    div.comments {
      margin: 0 2rem 2rem; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    div.comments {
      background-image: url("img/lightpaperfibers@2x.png");
      background-size: 500px 300px; } }
  div.comments p {
    font: normal 1.6rem/1.35 SourceSans, Verdana, Helvetica, Arial, sans-serif;
    margin: 0 auto 1rem; }
    div.comments p strong {
      font-weight: bold; }
    div.comments p em {
      font-style: italic; }
    div.comments p del {
      text-decoration: line-through; }
    div.comments p a {
      color: #a33446;
      text-decoration: none; }
      div.comments p a:hover {
        text-decoration: underline; }
