@mixin rwd-debug( $unit: "em", $positions: top right ) {
    $max: 150;
    @if $unit == "px" {
        $max: 1920;
    }
    @for $i from 10 to $max {
        @media screen and ( min-width: $i * 1#{$unit} ) {
            body:before {
                content: "#{$i}#{$unit}";
                position: fixed;
                @each $property in $positions {
                    #{$property}: 0;
                }
                padding: 1px 3px 3px;
                background: black;
                font: bold 15px/1 sans-serif;
                color: white;
                z-index: 99999;
            }
        }
    }
}
